.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html, body {
 width: 100%;
 height: 100%;
}
.homepage {
  padding: 0px;
  margin: 50px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
}
.navBar {
  background-color: #EBECF0;
  margin: -50px;
  padding: 30px;
}
.navBar a{
  margin: 30px;
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a.logo:link{
  padding-left: 100px;
  margin-top: -20px;
  float: left; 
  text-align: center;
  font-size: 30px;
}
.right{
  margin-right: 120px;
  margin-top: -10px;
  float: right;
  font-size: 20px;
}
.homeCard {
background-image: url("hands.avif");;
background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
margin-top: 70px;
padding: 20%;
}
h1.centercard{
  position: center;
  text-align: center;
  font-size: 40px;
}

.rectangle {
  width: 23px;
}