@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');


.right {
  margin-top: -60px;
  margin-right: 10px;
  float: right;
  background-color: #A10000;
  border-radius: 10px;
  vertical-align: center;
  text-align: center;
  width: 12%;

}

.rect-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding-top: 50px;
}

@media only screen and (max-width: 600px) {
  .right {
    height: 50px;
    width: 150px;
  }
  .start-quiz {
    height: 50px;
    width: 150px;
  }
  .logo img {
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

}

h2 {
    padding-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 1em;
    color: #fff;
}

.logo {
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo img {
  /* padding-left: 20px; */
  padding-top: 20px;
  width: 55%;
  height: 80%;
}

.navbar {
  text-align: left;
  padding-left: 10px;
}


h1 {
    padding-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    font-size: 1.5em;
}

.our-mission {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 100px;
}

p1 {
  font-family: 'Poppins';
  font-weight: 500;
  font-display: swap;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  float: center;
}

p2 {
  font-family: 'Poppins';
  font-weight: 200;
  font-display: swap;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  float: center;
  vertical-align: center;
}


.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

.card {
  width: 350px;
  height: 225px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 20px;
  text-align: center;
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card-container {
    height: auto;
  }
}


.question-num {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    font-size: 1.5em;
}

.question-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    font-size: 1.6em;
}

.header-text {
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-body {
  justify-content: center;
  align-items: center;
  display: flex;
}

h6 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    float: center;
}

p {
    font-family: 'Poppins';
    font-weight: 400;
    font-display: swap;
    font-size: 1.7em;
    justify-content: center;
    align-items: center;
    float: center;
    line-height: 1;
}


.answer-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.answer {
    background-color: #350066;
    width: 60%;
    height: 40%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    display: flex;
}

.answer-btwn {
    background-color: #fff;
    height: 15px;
}

h5 {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    font-size: 1.2em;
    vertical-align: center;
}